<div>
    <h3>About Me</h3>
    <p>Hi, I'm Adarsh, the creator of this website. My goal is to provide a platform where users can store and share their code globally. This website allows anyone to access and benefit from the shared code, fostering collaboration and knowledge exchange among users.</p>
    <p>I am currently working as a Programmer Analyst at Cognizant, where I am involved in developing and maintaining software solutions. In my role, I apply my passion for programming to solve real-world problems and deliver high-quality solutions to clients.</p>
    <p>This website is a project that I am continuously working on, and I am committed to improving and expanding its features in the future. Your feedback and suggestions are always welcome as they help me enhance the user experience and make this platform even more valuable.</p>
</div>
